<div class="row">
    <div class="col-md-8">
        <div class="card">
            <form class="card-body" method="post" action="{% if edit_edu_data %}/edit_education_save/{{edit_edu_data.id}}/{% else %}/add_education/{% endif %}">
                {% csrf_token %}
                <h6 class="card-title mb-4">Add Education Detail</h6>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Course</label>
                        <input type="text" name="course" class="form-control" value="{{edit_edu_data.Course}}">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Class/Standard</label>
                        <input type="text" name="class_standard" class="form-control" value="{{edit_edu_data.Standard}}">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Board/Universicy</label>
                        <input type="text" name="board_university" class="form-control" value="{{edit_edu_data.BoardUniversity}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Start Date</label>
                        <input type="text" name="start_date" class="form-control date_input" value="{{edit_edu_data.StartDate}}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">End Date</label>
                        <input type="text" name="end_date" class="form-control date_input" value="{{edit_edu_data.EndDate}}">
                    </div>
                </div>
                <div class="row">
                    <div class="form-check mb-3">
                        <input class="form-check-input" name="is_continue" {% if edit_edu_data.IsContinue %}checked{% endif %} type="checkbox" value="" id="defaultFlexCheckDefault">
                        <label class="form-check-label" for="defaultFlexCheckDefault">
                            Continue?
                        </label>
                    </div>
                </div>
                <div class="">
                    {% if edit_edu_data %}
                    <a href="{% url 'edit_edu_cancel' %}" class="btn btn-success btn-icon">
                        <i class="bi bi-delete-circle"></i> Cancel
                    </a>
                    {% endif %}
                    <button type="submit" class="btn btn-success btn-icon">
                        <i class="bi bi-check-circle"></i> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card sticky-top mb-4 mb-md-0">
            <h4 class="card-header">Education List</h4>
            {% for edu in education %}
            <div class="card-body">
                <h5 class="card-title">{{edu.Course}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{edu.StartDate}} - {% if edu.IsContinue %}Present{% else %}{{edu.EndDate}}{% endif %}</h6>
                <p class="card-text">{{edu.BoardUniversity}}</p>
                <a href="{% url 'edit_education' id=edu.id %}" class="btn btn-sm btn-primary">Edit</a>
                <a href="{% url 'delete_education' id=edu.id %}" class="btn btn-sm btn-danger">Delete</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>