<div class="row">
    <div class="col-md-8">
        <div class="card">
            <form class="card-body" method="post" action="{% if edit_exp_data %}/edit_experience/{{edit_exp_data.id}}/{% else %}/add_experience/{% endif %}">
                {% csrf_token %}
                <h6 class="card-title mb-4">Add Experience Detail</h6>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Job Title</label>
                        <input type="text" name="job_title" class="form-control" value="{{edit_edu_data.Course}}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Company</label>
                        <input type="text" name="company" class="form-control" value="{{edit_edu_data.Standard}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Start Date</label>
                        <input type="text" name="start_date" class="form-control date_input" value="{{edit_edu_data.StartDate}}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">End Date</label>
                        <input type="text" name="end_date" class="form-control date_input" value="{{edit_edu_data.EndDate}}">
                    </div>
                </div>
                <div class="row">
                    <div class="form-check mb-3">
                        <input class="form-check-input" name="is_continue" {% if edit_edu_data.IsContinue %}checked{% endif %} type="checkbox" value="" id="defaultFlexCheckDefault">
                        <label class="form-check-label" for="defaultFlexCheckDefault">
                            Continue?
                        </label>
                    </div>
                </div>
                <div class="">
                    <button type="submit" class="btn btn-success btn-icon">
                        <i class="bi bi-check-circle"></i> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card sticky-top mb-4 mb-md-0">
            <h4 class="card-header">Experience List</h4>
            {% for exp in experience %}
            <div class="card-body">
                <h5 class="card-title text-uppercase">{{exp.JobTitle}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{exp.StartDate}} - {% if exp.IsContinue %}Present{% else %}{{exp.EndDate}}{% endif %}</h6>
                <p class="card-text">{{exp.Company}}</p>
                <a href="{% url 'edit_experience' id=exp.id %}" class="btn btn-sm btn-primary">Edit</a>
                <a href="{% url 'delete_experience' id=exp.id %}" class="btn btn-sm btn-danger">Delete</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>